export(calc.ta,
       calc.ta.k,
       calc.ti,
       calc.ti.k,
       check.ev.cp,
       check.tb,
       dv.llgp,
       dv.tie,
       ev.llgp,
       fix.fp,
       get.variable.class,
       neg.ind.rows,
       piv.llgp,
       pos.ind.rows,
       print.llgpcptab,
       print.llgpout,
       print.llgptab,
       llgp,
       llgpcp,
       llgpcptab,
       llgpout,
       llgptab,
       swp.headings,
       swp.vec,
       zero.ind.rows)
       
